body {
    font-family: Arial, sans-serif;
    background: url('../assets/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* Right align the container */
    height: 100vh;
    margin: 0;
    padding: 20px; /* Add padding to the body */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

header {
    position: absolute;
    top: 20px;
    left: 20px; /* Position header to the left */
    text-align: left;
    width: calc(100% - 40px); /* Ensure header width is responsive */
}

header h1 {
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 24px rgba(0, 0, 0, 0.9);
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px; /* Add some margin for spacing */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-field {
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.eye-icon {
    padding: 10px 5px 10px 5px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
    background: #4d8fdc;

}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        justify-content: center;
        align-items: center; /* Center the container on small screens */
    }

    header {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .login-container {
        margin: 20px; /* Ensure there's some margin for spacing */
        max-width: 100%; /* Adjust max-width for smaller screens */
    }
}


